CompileFlags:
  Add: [-std=c++98, -Wall, -Wextra, -Werror]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy: {}

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: true

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
  IncludeIneligibleResults: true

Index:
  Background: Build
  StandardLibrary: true

Semantic:
  HighlightingKind: detailed

