CompileFlags:
  Add: [-std=c++98, -Wall, -Wextra, -Werror]
  Remove: [-W*]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: ["bugprone-*", "readability-*", "performance-*", "misc-*", "cppcoreguidelines-*"]
    Remove: ["modernize-*"]

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Hover:
  ShowAKA: true

Completion:
  AllScopes: true

Index:
  Background: Build
  StandardLibrary: true
